body {
  background-color:silver;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-field {
  position: relative;
  margin-top: 50%;
  margin-left: 40%;
}